<%- include ../../partials/header.ejs %>
<div class="container">
    <hr>
    <div class="card mt-5">
        <div class="card-header">
            <h2>Login de Admin</h2>
        </div>
        <div class="card-body">
            <form action="/authenticate" method="POST">
                <input type="email" name="email" class="form-control" placeholder="exemplo@dominio.com"><br>
                <input type="password" name="password" class="form-control" placeholder="Digite a senha"><br>
                <button type="submit" class="btn-block btn-primary">Logar</button>

            </form>

        </div>
    </div>

</div>


<%- include ../../partials/footer.ejs %>